@media screen and (max-width: 1100px) {
  /* ///////////////////////////////// */
  /* ///////////// CONTAINER ///////// */
  /* ///////////////////////////////// */

  .container {
    grid-template-rows: 0.3fr 0.5fr 3fr;
    grid-template-columns: 1fr;

    /* width: 50vw; */
  }

  /* ///////////////////////////////// */
  /* ///////////// SIDEBAR /////////// */
  /* ///////////////////////////////// */

  .sidebar {
    grid-row: 1 / 2;

    justify-content: center;
    align-items: center;
  }

  .sidebar-functions-list,
  .sidebar-general-list {
    /* padding: 0em 2ch 0em 2ch; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;

    margin: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  /* .sidebar-functions-list li, */
  /* .sidebar-general-list li { */
  /* width: 8em; */
  /* text-align: center; */
  /* } */

  #topnav {
    position: relative;
  }

  #topnav #links {
    display: none;
  }

  #topnav a.icon {
    text-decoration: none;
    color: whitesmoke;

    display: flex;
  }

  /* ///////////////////////////////// */
  /* ///////////// HEADER //////////// */
  /* ///////////////////////////////// */

  .header {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1.5fr;

    box-shadow: 0 0px 0px 0px lightgray;

    z-index: 2;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1em;

    padding: 1em 2em 1em 2em;
  }

  .header-search {
    display: flex;
    gap: 1em;
    align-items: center;
  }

  .search-bar {
    width: 100%;
    min-width: 16em;
    height: 2em;

    text-indent: 2ch;
    font-size: 1em;

    border: none;
    border-radius: 10px;

    background-color: rgb(255, 221, 226);
  }

  /* https://stackoverflow.com/questions/20804016/editing-input-type-search-pseudo-element-button-x */
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(255, 104, 129)' d='M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z' /%3E%3C/svg%3E")
      no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.5;
    pointer-events: none;
  }

  input[type="search"]:focus-visible::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
  }

  .search-bar:focus-visible {
    outline: none;
    height: 2em;
    text-indent: 2ch;
    font-size: 1em;
    border: rgb(255, 104, 129) 2px solid;
  }

  .notif-and-user {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .user-name {
    font-weight: bold;
  }

  .header-search > svg,
  .notif-and-user > svg {
    min-width: 24px;
  }

  .small-dp {
    width: 48px;
    height: 48px;
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0em 2em 0em 2em;
    margin-bottom: 1em;
  }

  .hello-flex {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .big-dp {
    width: 72px;
  }

  .hello-flex .hello {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }

  .hello-flex .hello-user {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }

  .header-buttons {
    display: flex;
    gap: 1em;
    margin: 0 0 0 2em;
  }

  .header-buttons button {
    background-color: rgb(255, 104, 129);

    border: none;
    border-radius: 2em;

    padding: 0.8em 1.4em;

    color: whitesmoke;
    font-weight: bold;
    font-size: 1em;
  }

  /* ///////////////////////////////// */
  /* ///////////// MAIN ////////////// */
  /* ///////////////////////////////// */

  .main-content {
    grid-row: 3 / 4;

    display: grid;
    grid-template: 0.1fr 1fr 0.1fr 2fr 0.1fr 1fr / 1fr;
    /* gap: 1em; */

    padding: 0em 0em 4em 0em;

    background-color: rgb(236, 236, 236);

    z-index: 1;
  }

  /* ///////////////////////////////// */
  /* ///////////// PROJECTS //////////// */
  /* ///////////////////////////////// */

  .projects-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    height: 3em;
    padding: 0em 0em 0em 1em;
    margin: 1em 0em -1em 0em;
  }

  .user-projects {
    grid-row: 2 / 5;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }

  .card {
    margin: 2.5em 1em 0 1em;
    padding: 3em 2em 1em 2em;

    border-radius: 0.8em;
    border-left: 0.8em solid rgb(255, 104, 129);

    background-color: white;

    box-shadow: 2px 5px 5px 1px lightgray;
  }

  .card:first-child {
    margin: 2.5em 1em 0 1em;
    padding: 3em 2em 1em 2em;
  }

  .card:nth-child(2) {
    margin: 2.5em 1em 0 1em;
    padding: 3em 2em 1em 2em;
  }

  .card-title {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 0.9em;
  }

  .card-content {
    margin: 0;
  }

  .card-functions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 1em;

    margin-top: 2em;
  }

  .card-functions > img {
    width: 30px;
    padding: 4px;
  }

  .card-functions > img:hover {
    cursor: pointer;
    background-color: #ece8e8;
    border-radius: 50%;
  }

  /* ///////////////////////////////// */
  /* ///////////// ANNOUNCEMENTS ///// */
  /* ///////////////////////////////// */

  .announcements-title {
    grid-column: 1 / 2;
    grid-row: 5 / 6;

    padding: 0em 0em 0em 1em;
    margin: 1em 0em 0em 0em;
  }

  .announcements {
    grid-row: 6 / 7;

    margin: 0 1em;
    padding: 1em 2.5em;

    background-color: white;
    border-radius: 0.8em;

    box-shadow: 2px 5px 5px 1px lightgray;
  }

  .announcement {
    padding: 1em 0;

    border-bottom: 1px #80808060 solid;
  }

  .announcement:last-child {
    border: none;
  }

  .announce-title {
    font-size: 1em;
    margin: 0;
    margin-top: 0.5em;
  }

  /* ///////////////////////////////// */
  /* ///////////// TRENDING ////////// */
  /* ///////////////////////////////// */

  .trending-title {
    grid-row: 7 / 8;

    padding: 0em 0em 0em 1em;
    margin: 1em 0em 0em 0em;
  }

  .trending {
    grid-row: 8 / 9;

    margin: 0 1em;
    padding: 0em 2em;

    border-radius: 0.8em;
    background-color: white;

    box-shadow: 2px 5px 5px 1px lightgray;

    display: flex;
    gap: 2em;
  }

  .trending-user {
    display: flex;
    align-items: center;
    gap: 1em;

    margin: 2em 0em;
  }

  .user-text {
    display: flex;
    flex-direction: column;
  }

  .user-text p {
    margin: 0.2em 0;
  }

  .user-handle {
    font-weight: 500;
  }
}
