@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
}

/* ///////////////////////////////// */
/* ///////////// CONTAINER ///////// */
/* ///////////////////////////////// */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 3fr;
}

/* ///////////////////////////////// */
/* ///////////// SIDEBAR /////////// */
/* ///////////////////////////////// */

.sidebar {
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  background-color: rgb(255, 104, 129);

  z-index: 3;
  /* border: green 5px solid; */
}

.sidebar-title {
  display: flex;
  align-items: center;
  gap: 1em;

  padding: 0em 5ch 0em 5ch;
}

.sidebar .title {
  font-size: 2.5em;
  /* color: rgb(253, 80, 108); */
  color: pink;
  color: whitesmoke;

  /* probably unnecessary */
  /* text-indent: 2ch; */
}

.sidebar-functions-list {
  list-style: none;
  /* text-indent: 1ch; */
  padding: 0em 0ch 0em 1ch;
}

.sidebar-functions-list li {
  font-size: 1.5em;
  line-height: 3ch;

  color: whitesmoke;
  font-weight: bold;
}

/* ///////////////////////////////// */
/* ///////////// HEADER //////////// */
/* ///////////////////////////////// */

.header {
  display: grid;
  grid-template-rows: 1fr 1.5fr;

  box-shadow: 0 1px 5px 5px lightgray;

  z-index: 2;
  /* border: red 5px solid; */
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1em;

  padding: 0.5em 4em 0em 4em;
  /* border: maroon 5px solid; */
}

.header-search {
  display: flex;
  gap: 1em;
  align-items: center;

  /* margin-top: 1em; */
  /* margin-right: 24em; */
}

.search-bar {
  width: 100%;
  min-width: 50vw;
  height: 2em;
  text-indent: 2ch;
  font-size: 1em;
  /* width: clamp(100%, 48em, 48em); */
  border: lightpink 2px solid;
  border-radius: 10px;
}

/* https://stackoverflow.com/questions/20804016/editing-input-type-search-pseudo-element-button-x */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='rgb(255, 104, 129)' d='M175 175C184.4 165.7 199.6 165.7 208.1 175L255.1 222.1L303 175C312.4 165.7 327.6 165.7 336.1 175C346.3 184.4 346.3 199.6 336.1 208.1L289.9 255.1L336.1 303C346.3 312.4 346.3 327.6 336.1 336.1C327.6 346.3 312.4 346.3 303 336.1L255.1 289.9L208.1 336.1C199.6 346.3 184.4 346.3 175 336.1C165.7 327.6 165.7 312.4 175 303L222.1 255.1L175 208.1C165.7 199.6 165.7 184.4 175 175V175zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0.5;
  pointer-events: none;
}

input[type="search"]:focus-visible::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

.search-bar:focus-visible {
  outline: none;
  height: 2em;
  text-indent: 2ch;
  font-size: 1em;
  border: rgb(255, 104, 129) 2px solid;
}

.notif-and-user {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-name {
  font-weight: bold;
}

.header-search > svg,
.notif-and-user > svg {
  min-width: 24px;
}

.small-dp {
  width: 48px;
  height: 48px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0em 1em;
  padding: 0em 4em 0em 4em;
  margin-bottom: 1em;
}

.hello-flex {
  display: flex;
  align-items: center;
  gap: 1em;
}

.big-dp {
  width: 96px;
}

.hello-flex .hello {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.hello-flex .hello-user {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

/* ///////////////////////////////// */
/* ///////////// MAIN ////////////// */
/* ///////////////////////////////// */

.main-content {
  display: grid;
  grid-template: 0.5fr 0.5fr / 3fr 1fr;

  padding: 0em 2em;

  background-color: rgb(236, 236, 236);

  z-index: 1;
  /* border: blue 5px solid; */
}

.user-projects {
  grid-row: 1 / 3;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);

  /* border: yellow 5px solid; */
}

.user-projects .card {
  /* height: 20em; */
  padding: 2em;
  margin: 1em;
  /* border: pink 5px solid; */
}

.card-title {
  font-size: 1.5em;
}

.card .card-functions {
  display: flex;
  justify-content: flex-end;
}

.announcements {
  margin: 1em;
  /* border: lightgreen 5px solid; */
}

.announcement {
  padding: 1em;
  /* border: cyan 5px solid; */
}

.announce-title {
  font-size: 1em;
}

.trending {
  margin: 1em;
  /* border: orange 5px solid; */
}

.trending-user {
  padding: 1em;

  display: flex;
  align-items: center;
  gap: 1em;
  /* border: rebeccapurple 5px solid; */
}

.trending-user .user-text {
  display: flex;
  flex-direction: column;
}
