*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
}

/* ///////////////////////////////// */
/* ///////////// CONTAINER ///////// */
/* ///////////////////////////////// */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 3fr;
}

/* ///////////////////////////////// */
/* ///////////// SIDEBAR /////////// */
/* ///////////////////////////////// */

.sidebar {
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: green 5px solid; */
}

.sidebar .title {
  /* probably unnecessary */
  text-indent: 2ch;
}

/* .sidebar-functions-list {
}

.sidebar-general-list {
} */

/* ///////////////////////////////// */
/* ///////////// HEADER //////////// */
/* ///////////////////////////////// */

.header {
  display: grid;
  grid-template-rows: 1fr 1.5fr;

  /* border: red 5px solid; */
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1em;

  padding: 1em;
  padding: 0em 1em;
  padding: 0.5em 1em 0em 1em;
  /* border: maroon 5px solid; */
}

.header-search {
  display: flex;
  gap: 1em;

  /* margin-top: 1em; */
  /* margin-right: 24em; */
}

.search-bar {
  width: 100%;
  min-width: 48em;
}

.notif-and-user {
  display: flex;
  align-items: center;
  gap: 2em;
}

.header-search > svg,
.notif-and-user > svg {
  min-width: 24px;
}

.small-dp {
  width: 48px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0em 1em;
}

.hello-grid {
  display: grid;
  grid-template: 1fr 1fr / 96px 1fr;
  column-gap: 1em;
}

.hello-grid .big-dp {
  grid-row: span 2;
  align-self: center;
}

.big-dp {
  width: 96px;
}

/* ///////////////////////////////// */
/* ///////////// MAIN ////////////// */
/* ///////////////////////////////// */

.main-content {
  display: grid;
  grid-template: 0.5fr 0.5fr / 3fr 1fr;
  /* border: blue 5px solid; */
}

.user-projects {
  grid-row: 1 / 3;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);

  /* border: yellow 5px solid; */
}

.user-projects .card {
  /* height: 20em; */
  padding: 2em;
  margin: 1em;
  /* border: pink 5px solid; */
}

.card-title {
  font-size: 1.5em;
}

.card .card-functions {
  display: flex;
  justify-content: flex-end;
}

.announcements {
  margin: 1em;
  /* border: lightgreen 5px solid; */
}

.announcement {
  padding: 1em;
  /* border: cyan 5px solid; */
}

.announce-title {
  font-size: 1em;
}

.trending {
  margin: 1em;
  /* border: orange 5px solid; */
}

.trending-user {
  padding: 1em;

  display: flex;
  align-items: center;
  gap: 1em;
  /* border: rebeccapurple 5px solid; */
}

.trending-user .user-text {
  display: flex;
  flex-direction: column;
}
